<!-- <form method="POST">  
    <div class="mb-3">
      <label for="password" class="form-label">Nhập mật khẩu cũ</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>   
    <div class="mb-3">
        <label for="newpassword" class="form-label">Nhập mật khẩu mới</label>
        <input type="password" class="form-control" id="newpassword" name="newpassword">
      </div> 
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
  </form> -->
<div class="changePassword">
    <img src="../../assets/img/change.jpg" alt="">
    <div class="change__form">
        <h2>Đổi mật khẩu</h2>
        <form action="#" method="post">
            <div class="change__input">
                <input type="password" class="form-control" id="password" name="password" placeholder="Old password">
            </div>
            <div class="change__input">
                <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New password">
            </div>
            <div class="change__btn">
                <a href=""><button type="submit" class="btn btn-primary">Change</button></a>
                <a href=""><button type="submit" class="btn btn-primary" id="change__btn">Back</button></a>
            </div>

        </form>
    </div>
</div>