<div class="forgotPassword">
    <img src="../../assets/img/forgot.jpg" alt="">
    <div class="forgot__form">
      <form action="#" method="post">
        <div class="forgot__input">
          <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New password">
      </div>
      <a href=""><button type="submit" class="btn btn-primary">Change</button></a>
      </form>        
    </div>
</div>