<div class="forgotPassword">
    <img src="../../assets/img/venom.jpg" alt="">
    <div class="forgot__form">
        <h2>Quên mật khẩu</h2>
        <p><i>Mời bạn nhập Email đã đăng kí!</i></p>
        <form action="#" method="post">
            <div class="forgot__input">
                <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
            </div>
            <div class="forgot__btn">               
                <a href="/login"><button type="submit" class="btn btn-primary">Change</button></a>       
                <a href="/login"><button type="submit" class="btn btn-primary" id="back__btn">Back</button></a>         
            </div>
            <div class="forgot__video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-ezfi6FQ8Ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </form>
    </div>
</div>