<!-- <form method="POST">     
    <div class="mb-3">
        <label for="newpassword" class="form-label">Nhập mật khẩu mới</label>
        <input type="password" class="form-control" id="newpassword" name="newpassword">
      </div> 
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
  </form> -->
<div class="forgotPassword">
    <img src="../../assets/img/forgot.jpg" alt="">
    <div class="forgot__form">
        <div class="forgot__input">
            <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New password">
        </div>
        <a href=""><button type="submit" class="btn btn-primary">Change</button></a>
    </div>
</div>