<!-- <form method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email or Username</label>
      <input type="text" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>   
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form> -->
<div class="login">
  <div class="login__content">
    <img src="../../assets/img/bg2.jpg" alt="" />
    <div class="login__form">
      <h3>Login now</h3>
      <form action="#" method="post">
        <div class="form-input">
          <input type="text" name="email" required />
          <i class="far fa-envelope"></i>

          <label>Email</label>
        </div>
        <div class="form-input">
          
          <input type="password" name="password" required />
          <i class="fas fa-key"></i>
          <label>Password</label>

        </div>
        <div class="login__remember">
          <label class="login__remaind">
            <input type="checkbox" />
            <p>Remember me</p>
          </label>
          <a href=""><button>Login</button></a>
        </div>
        <div class="login__new">
          <a href="/forgotPassword">Forgot password?</a>
        </div>
      </form>
      <div class="login__icons">
        <p class="login__continue"><span>Or</span></p>
        <div class="login__social">
          <a href="#facebook">
            <div class="facebook">
              <i class="fab fa-facebook-f"></i>
            </div>
          </a>
          <a href="#google">
            <div class="google">
              <i class="fab fa-google-plus-g"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="login__end">
        <p style="color: black">
          Don’t have an account?
          <a href="/auth/signup"><span style="color: rgb(35, 236, 220); font-weight: 600">Sign up</span></a>
        </p>
      </div>
    </div>
  </div>
</div>