<div class="admin">
    <div class="row">
        <div class="tab__admin col-2">
            <div class="img__admin">
                <img src="../../logo.png" alt="">
            </div>
            <div class="admin__line">
               
                <a href="/admin/statistical">Thống Kê Doanh Thu</a>
                  
                <a href="/admin/movie">Quản Lý Phim</a>
        
                <a href="/admin/theatercluster">Quản Lý Cụm Rạp</a>
        
                <a href="/admin/theater">Quản Lý Rạp</a>
          
                <a href="/admin/showtime">Quản Lý Suất Chiếu</a>
           

            </div>
        </div>
        <div class="content__admin col-10">
            <div class="title__admin">
                <h2>Quản Lý Cụm Rạp</h2>
            </div>

            <div class="main__admin">
                <div class="button__admin">
                    <button class="btn btn-primary">Thêm</button>
                </div>
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Hình ảnh rạp</th>
                            <th scope="col">Tên cụm rạp</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>1</td>
                            <td><img src="https://picsum.photos/200/200" alt="" style="width: 50px;"> </td>
                            <td>lotte nowzone</td>
                            <td>227 Nguyễn Văn Cừ</td>
                            <td>
                                <button class="btn btn-success">Sửa</button>
                                <button class="btn btn-danger">Xóa</button>
                            </td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>