<div class="booking" style="background-image: url(../../assets/img/backapp.jpg);">
    <div class="row">
        <div class="col-9">
            <div class="creen">
                <div class="text-center">
                    <img src="../../assets/img/screen.png" alt="">
                </div>
                <div class="main">
                    <div class="row">
                        <div class="col-1">
                            <p class="text"></p>
                        </div>
                        <div class="col-1">
                            <p class="text">1</p>
                        </div>
                        <div class="col-1">
                            <p class="text">2</p>
                        </div>
                        <div class="col-1">
                            <p class="text">3</p>
                        </div>
                        <div class="col-1">
                            <p class="text">4</p>
                        </div>
                        <div class="col-1">
                            <p class="text">5</p>
                        </div>
                        <div class="col-1">
                            <p class="text">6</p>
                        </div>
                        <div class="col-1">
                            <p class="text">7</p>
                        </div>
                        <div class="col-1">
                            <p class="text">8</p>
                        </div>
                        <div class="col-1">
                            <p class="text">9</p>
                        </div>
                        <div class="col-1">
                            <p class="text">10</p>
                        </div>
                        <div class="col-1">
                            <p class="text">11</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <p class="textS">A</p>
                        </div>
                        <div class="col-1">
                            <button class="ghe" id="A1" onclick=datVe(event) value="A1">A1</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe" id="A2" onclick=datVe(event) value="A2">A2</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A3</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A4</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A5</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A6</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A7</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A8</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A9</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A10</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">A11</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <p class="textS">B</p>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B1</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B2</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B3</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B4</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B5</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B6</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B7</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B8</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B9</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B10</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">B11</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <p class="textS">C</p>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C1</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C2</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C3</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C4</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C5</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C6</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C7</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C8</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C9</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C10</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">C11</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <p class="textS">D</p>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D1</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D2</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D3</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D4</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D5</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D6</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D7</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D8</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D9</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D10</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">D11</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <p class="textS">E</p>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E1</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E2</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E3</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E4</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E5</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E6</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E7</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E8</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E9</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E10</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">E11</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <p class="textS">F</p>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F1</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F2</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F3</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F4</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F5</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F6</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F7</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F8</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F9</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F10</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">F11</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <p class="textS">G</p>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G1</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G2</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G3</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G4</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G5</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G6</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G7</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G8</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G9</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G10</button>
                        </div>
                        <div class="col-1">
                            <button class="ghe">G11</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3">
            <div class="thongtin_datve">
                <p class="tt_tenPhim"> Batman & Superman </p>
                <p class="tt_tenRap"> Galaxy Quang Trung</p>
                <p class="tt_thoiGianChieu">15/07/2020 20:00 PM</p>

                <hr />
                <p class="mb-1 tt_email">Email</p>
                <p class=""> 123@gmail.com</p>
                <p class="mb-1 tt_sdt">Số điện thoại</p>
                <p class=""> 0123654789 </p>
                <hr />
                <p class="tt_datGhe"> Ghế: <span class="tt_soGheDat" value="A1,A2,A3"> A1 A2 A3 </span></p>
                <p class="tt_giaVe">Giá: <span class="tt_tongGiaVe" value="300000"> 300.000 </span>VND</p>
                <hr />
                <div class="tt_httt">
                    <h4 class="tt_tithttt">Hình thức thanh toán</h4>
                    <div class="form-check">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" />
                                <img src="../../assets/logo/Icon-app_white-bg.png" /> <span>Thanh toán qua
                                    ZaloPay</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" />
                                <img src="../../assets/logo/visa.png" /><span>Visa, Master</span>
                            </label>
                        </div>
                        <div class="form-check ">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" />
                                <img src="../../assets/logo/atm.png" /><span>Thẻ ATM nội địa</span>
                            </label>
                        </div>

                    </div>

                </div>
                <div class="btn__datve">
                    <button class="btn btn-success" onclick=abc()>Đặt Vé</button>
                </div>
            </div>

        </div>
    </div>
</div>