<img src="/user/picture/<%- currentUser.id  %>" alt="" width="1000" height="800" style="border-radius: 100px;">
<form method="POST" enctype="multipart/form-data">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="picture" name="picture">
      <label class="custom-file-label" for="picture">Choose file</label>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>