.forgotPassword {
    img {
        width: 100%;
        height: 700px;
    }
    position: relative;
    .forgot__form {
        width: 40%;
        margin: auto;
        background-color: rgba(0, 0, 255, 0.014);
        position: absolute;
        padding: 50px;
        top: 40%;
        left: 3%;
        .forgot__input {
            margin-bottom: 20px;
            input {
                border: none;
                outline: none;
            }
        }
        a {
            button {
                padding: 6px 30px;
            }
        }
    }
}