.Home {
    .Home__carousel {
        img {
            height: 500px;
        }
        .carousel-indicators {
            li {
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background-color: $color-red-primary;
            }
        }
    }
    .Home__List{
        width: 80%;
        margin: 30px auto;
       .Home__item{
           img{
               width: 100%;
           }
           .Home__text{
               h2{
                   font-size: 20px;
                   font-weight: 500;
               }
           }
       }
    }
}
