.info__user {
    .info__user__content {
        .info__main {
            ul {
                li {
                    a {
                        font-size: 20px;
                        font-weight: 600;
                        color: brown;
                        &:hover {
                            color: blue;
                            transition: 0.5s;
                        }
                    }
                }
            }
            .info__item {
                display: flex;
                .info__form__user {
                    width: 60%;
                    height: 600px;
                    padding: 20px 20px 20px 40px;
                    .row {
                        .col-md-12 {
                            a {
                                color: black;
                                text-decoration: none;
                                &:hover {
                                    color: brown;
                                }
                            }
                        }
                    }
                    a {
                        button {
                            margin-top: 15px;
                            padding: 8px 30px;
                            background: brown;
                            border: none;
                            &:hover {
                                background-color: rgba(122, 26, 26, 0.966);
                            }
                        }
                    }
                }
                .info__img {
                    margin-top: 30px;
                    width: 300px;
                    height: 80%;
                    background-color: rgb(218, 213, 213);
                    border-radius: 5px;
                    padding: 10px;
                    img {
                        width: 250px;
                        height: 250px;
                        border-radius: 5px;
                        margin-bottom: 20px;
                    }
                    .custom-file {
                        margin-bottom: 20px;
                    }
                    .img__btn {
                        button {
                            background-color: brown;
                            border: none;
                            margin-left: 30%;
                            border-radius: 50px 50px;
                            padding: 6px 30px;
                        }
                    }
                }
            }
            .info__form__history {
                display: flex;
                background-color: rgb(250, 233, 233);
                padding: 30px 50px 30px 50px;
                border-radius: 5px;
                margin: 30px;
                .history__img {
                    margin-right: 40px;
                    img {
                        height: 100%;
                        border-radius: 5px;
                        width: 100%;
                    }
                }
                .history__main {
                    padding: 50px 0 30px 0;
                    h2 {
                        font-weight: 600;
                        margin-bottom: 30px;
                        &:hover {
                            color: brown;
                            transition: 0.5s;
                        }
                    }
                    p {
                        margin-bottom: 30px;
                        font-size: 18px;
                        span {
                            margin-left: 20px;
                            &:hover {
                                color: blue;
                                transition: 0.5s;
                            }
                        }
                    }
                }
                &:hover {
                    border: 2px solid rgba(165, 42, 42, 0.651);
                }
            }
        }
    }
}